<!-- ***** Goal Information ***** -->
<section class="section courses">
    <div class="container-fluid">
        <div class="row">
            <div class="container">
                <div class="col-md-12">
                    <div class="section-heading"><h2>{{goal.title}}</h2></div>
                    <p class="text-center">Created by <a href="/profile/{{goal.user.id}}">{{goal.user.username}}</a></p>
                    <div class="description mb-5"><h2>{{goal.description}}</h2></div>
                    <div class="instructions mb-5">
                        <h2>Steps to reach the goal</h2>
                        <ul class="p-5">
                            {{#each goal.steps as |step|}}
                                <li class="mb-5 bg-dark p-5">
                                    <h5>{{step.title}}</h4>
                                    <p>{{step.description}}</p>
                                    <p>your starting date: {{format_dateTwo step.start_date}} and complete it by {{format_dateTwo step.due_date}}</p>
                                    <p>
                                        {{#each step.user_steps as |users|}}
                                            {{#if users.user.profile.profile_img}}
                                                <img src="/{{users.user.profile.profile_img}}" class="rounded img-thumbnail" style="max-width:50px" >
                                            {{else}}
                                                <img src="/images/default-img.jpg" class="rounded img-thumbnail" style="max-width:50px" >
                                            {{/if}}
                                                {{!-- <img src="/{{users.user.profile}}"> --}}
                                            <a href="/profile/{{users.user.id}}">{{users.user.username}}'s</a> status in this step is: {{users.status}}
                                        {{/each}}     
                                    </p>
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

       <section class="section coming-soon" data-section="section3">
        <div class="container">
          <div class="row">
            <div class="col-md-7 col-xs-12">
              <div class="continer centerIt">
                <div>
                  <h4>Take a <em> BIG step</em></h4>
                    <div class="counter">
                        <div class="days">
                            <div class="value">{{time.totalDays}}</div>
                            <span>Days</span>
                        </div>

                        <div class="hours">
                            <div class="value">{{time.hours}}</div>
                            <div class="value"></div>
                            <span>Hours</span>
                        </div>

                        <div class="minutes">
                            <div class="value">{{time.minutes}}</div>
                            <span>Minutes</span>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
</section>