<!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner" id="section1" data-section="section1">
      <video autoplay muted loop id="bg-video">
          <source src="images/display_video.mp4" type="video/mp4" />
      </video>

      <div class="video-overlay header-text">
          <div class="caption">
              <h6>A Step-by-Step Guide to Your Life Journey</h6>
              <h2><em>Ready to</em> Start</h2>
              <div class="main-button">
                  <div class="scroll-to-section"><a href="#section2">Discover more</a></div>
              </div>
          </div>
      </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->


  <section class="features">
    <div class="container">
      <div class="row">
        {{#each categories}}
            <div class="col-lg-4 col-12">
                <div class="features-post">
                    <div class="features-content">
                    <div class="content-show">
                        <a href="/dashboard/{{this.id}}"><h4>{{this.category_name}}</h4></a>
                    </div>
                    </div>
                </div>
            </div>
        {{/each}}
      </div>
    </div>
  </section>

<section class="section why-us" data-section="section2" id="section2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Moving Forward and Staying Strong</h2>
          </div>
        </div>
        <div class="col-md-12">
          <div id='tabs'>
            <ul>
              <li><a href='#tabs-1'>Commit to be fit</a></li>
              <li><a href='#tabs-2'>Learning Excellence</a></li>
              <li><a href='#tabs-3'>Health Awareness</a></li>
            </ul>
            <section class='tabs-content'>
              <article id='tabs-1'>
                <div class="row">
                  <div class="col-md-6">
                    <img src="images/img3.jpg" alt="">
                  </div>
                  <div class="col-md-6">
                    <h4>Commit to be fit</h4>
                    <p>Quisque cursus augue ut velit dictum, quis volutpat enim blandit. Maecenas a lectus ac ipsum porta.</p>
                  </div>
                </div>
              </article>
              <article id='tabs-2'>
                <div class="row">
                  <div class="col-md-6">
                    <img src="images/img2.jpg" alt="">
                  </div>
                  <div class="col-md-6">
                    <h4>Learning Excellence</h4>
                    <p>Quisque cursus augue ut velit dictum, quis volutpat enim blandit. Maecenas a lectus ac ipsum porta.</p>
                  </div>
                </div>
              </article>
              <article id='tabs-3'>
                <div class="row">
                  <div class="col-md-6">
                    <img src="images/img1.jpg" alt="">
                  </div>
                  <div class="col-md-6">
                    <h4>Health Awareness</h4>
                    <p>Quisque cursus augue ut velit dictum, quis volutpat enim blandit. Maecenas a lectus ac ipsum porta.</p>
                  </div>
                </div>
              </article>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section video" data-section="section5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 align-self-center">
          <div class="left-content">
            <span>our presentation is for you</span>
            <h4>Watch the video to learn more <em>about Milestone</em></h4>
          </div>
        </div>
        <div class="col-md-6">
          <article class="video-item">
            <div class="video-caption">
              <h4>Watch Video</h4>
            </div>
            <figure>
              <a href="display_video.mp4" class="play"><img src="images/img4.jpg"></a>
            </figure>
          </article>
        </div>
      </div>
    </div>
  </section>

  <section class="section courses" data-section="section4">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <div class="main-button">
              <div class="scroll-to-section"><a href="/dashboard">View Dashboard</a></div>
          </div>
          </div>
        </div>
        </div>
        </div>
  </section>

    <section class="section courses pt-5">
        <div class="container">
            <div class="row">
                {{#each users}}
                    <div class="col-12">
                        <h5><img class="img-thumbnail rounded" style ="width:50px" src="{{this.profile_img}}"></img> 
                        <a href="/profile/{{this.id}}">{{this.username}}</a> 
                        created a new goal: 
                        {{#each this.goals as |goal|}} 
                            <a href="/goals/{{goal.id}}">{{goal.title}}</a> 
                            on {{format_dateTwo goal.createdAt}} in <a href="/categories/{{category_id}}">{{goal.subcategory}}</a>
                        {{/each}}</h5>
                    </div>
                {{/each}}
            </div>
        </div>
    </section>


  <section class="section contact" data-section="section6" id="contactus">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Let’s Keep In Touch</h2>
          </div>
        </div>
        <div class="col-md-6">
          <form id="contact" action="" method="post">
            <div class="row">
              <div class="col-md-6">
                  <fieldset>
                    <input name="name" type="text" class="form-control" id="name" placeholder="Your Name" required="">
                  </fieldset>
                </div>
                <div class="col-md-6">
                  <fieldset>
                    <input name="email" type="text" class="form-control" id="email" placeholder="Your Email" required="">
                  </fieldset>
                </div>
              <div class="col-md-12">
                <fieldset>
                  <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required=""></textarea>
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="button">Send Message Now</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>