<!-- Profile Information -->
<section class="section courses">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <section class="section-heading mb-0">
          <h2>Welcome to <b>{{profile.username}}'s</b> profile page</h2>
          <div class="container">
            <section class="profileinfo row p-5">
              <div class="col-md-6 .img-thumbnail">
                {{#if profile.profile_img}}
                  <img src="/{{profile.profile_img}}" class="rounded img-thumbnail" style="max-width:250px" >
                {{else}}
                  <img src="/images/default-img.jpg" class="rounded img-thumbnail" style="max-width:250px" >
                {{/if}}
              </div>
              <div class="col-md-6">
                <div class="product-item1">
                  <a href="#"><img src="assets/images/product_01.jpg" alt=""></a>
                  <div class="down-content1">
                    <h4 class="text-white" >{{profile.username}}'s email address: {{profile.email}}</h4>
                    <div ><a href="#viewPostsModal" data-toggle="modal">View posts</a></div>
                    {{#if postOwner}} 
                      <div><a href="#editProfileModal" data-toggle="modal">Edit Profile Information</a></div>
                    {{/if}}
                    <ul class="stars">
                      {{#each profile.completedGoal}}
                        <li><i class="bi bi-star-fill"></i></li>
                      {{/each}}
                    </ul>
                    Goals Achieved: {{counter profile.completedGoal}}
 

                    <div class="scroll-to-section"><a href="/dashboard">View Dashboard</a></div>
                  </div>
                </div>
              </div>
            </section>

            {{!-- add new category button (if owner of the post) --}}
            {{#if postOwner}} 
              {{!-- <div class="row justify-content-md-center"><button id="create-goal-form" type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#addCategoryModal">Add New Goal</button></div>  --}}
                <div class="main-button" data-toggle="modal" data-target="#myModal">
                    <div class="scroll-to-section"><a href="#">Create a Goal!</a></div>
                </div>
            {{/if}}

            {{!-- Goals created: --}}
            <h2>Goals {{profile.username}} Created: </h2>
            <div class="row justify-content-center">
              {{#each profile.goals as |goal|}}
                <div class="col-12 col-md-4 p-5 mt-3 text-white">
                    <a href="/goals/{{goal.id}}"><img src="{{goal.category.img_url}}" class="rounded-circle img-fluid border"></a>
                    <h2 class="h5 text-center mt-3 mb-3">{{goal.title}}</h2>
                    <p class="text-white">{{goal.description}}</p>
                    {{!-- <p class="text-center text-white"><a class="btn btn-success">Start</a></p> --}}
                    <p class="text-white">'{{goal.title}}' goal belongs to 
                    <a href="/categories/{{goal.category.id}}"> {{goal.category.category_name}}</a> category and the status is '{{goal.status}}' which is due on {{format_dateTwo goal.due_date}}</p>
                    {{!-- <p class="text-white">Due Date: {{format_dateTwo goal.due_date}}</p> --}}
                </div>
              {{/each}}
            </div>

            {{!-- Goals Participating in: --}}
            <h2 class="mt-5">Goals {{profile.username}} Participating</h2>
            <div class="row justify-content-center">
              {{#each profile.member_goals as |goals|}}
                <div class="col-12 col-md-4 p-5 mt-3 text-white">
                    <a href="/goals/{{goals.goal.id}}"><img src="{{goals.goal.category.img_url}}" class="rounded-circle img-fluid border"></a>
                    <h2 class="h5 text-center mt-3 mb-3">{{goals.goal.title}}</h2>
                    <p class="text-white">{{goals.goal.description}}</p>
                    {{!-- <p class="text-center text-white"><a class="btn btn-success">Start</a></p> --}}
                    <p class="text-white">'{{goals.goal.title}}' goal belongs to 
                    <a href="/categories/{{goals.goal.category.id}}"> {{goals.goal.category.category_name}}</a> category and the status is {{goals.goal.Status}} which is due on {{format_dateTwo goals.goal.due_date}}</p>
                    {{!-- <p class="text-white">Due Date: {{format_dateTwo goal.due_date}}</p> --}}
                </div>
              {{/each}}
            </div>
          </div>
        </section>

        <!-- Friend Status -->
        <section class="section courses">
          <div class="col-md-12">
            <section class="section-heading mt-0">
              <h2 class="mt-5">Other members participating with {{profile.username}}</h2>
              <div class="">
                <div class="row justify-content-center">
                  {{#unless loggedIn}}
                    <div class="main-button d-flex justify-content-center">
                      <div class="scroll-to-section"><a href="/login">Login to see participants</a></div>
                    </div>
                  {{/unless}}
                  {{#each profile.goals as |goals|}}
                      {{#each goals.member_goals as |member_goals|}}
                        <div class="card m-3 p-3 bg-dark col-md-3 rounded-0">
                          <div class="row g-0">
                            <div class="col-md-4 align-self-center">
                              {{#if member_goals.user.profile_img}}
                                <a href="/profile/{{member_goals.user.id}}"><img src="/{{member_goals.user.profile_img}}" class="img-fluid" alt=""></a>
                              {{else}}
                                <a href="/profile/{{member_goals.user.id}}"><img src="/images/default-img.jpg" class="img-fluid" alt=""></a>
                              {{/if}}
                            </div>
                            <div class="col-md-8">
                              <div class="card-body p-0">
                                <p class="card-title mt-1">{{member_goals.user.username}}</p>
                                <h6 class="card-text">{{member_goals.status}}</h6> <p> to achieve <a href="/goals/{{goals.id}}">'{{goals.title}}'</a></p>
                                <p class="card-text"><small class="text-muted">Last updated {{format_dateTwo member_goals.updatedAt}}</small></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      {{/each}}
                  {{/each}}
                </div>
              </div>
            </section>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>

{{!-- View posts modal: --}}
<div class="modal fade" id="viewPostsModal" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Posts by {{profile.username}}</h4>
      </div>
      <div class="modal-body text-dark">
        {{#each profile.comments as |posts|}}
          <div class="col-md-12 p-2 m-2 border-bottom">
            <h6 class="text-black">"{{posts.comment}}"</h6> 
             in <i><a href="/goals/{{posts.goal.id}}" target="_blank"> {{posts.goal.title}}</a></i>
            on <i class="small">{{format_dateTwo posts.goal.createdAt}}</i>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
{{!-- Edit Profile Modal --}}
<div class="modal fade" id="editProfileModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content" enctype="multipart/form-data">
      <form class="edit-form">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit your Profile</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input class="form-control" type="text" id="username" value="{{profile.username}}"/>
          </div>
          <div class="form-group">
            <input class="form-control" type="text" id="email" value="{{profile.email}}"/>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" id="editprofile-btn" class="btn btn-default font-weight-bold text-white" userid="{{profile.id}}">Submit</button>
          <button type="button" class="btn btn-default font-weight-bold text-white" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- Create Goal Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <!-- Modal content-->
    <div class="modal-content" enctype="multipart/form-data">
      <form class="create-goal-form">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Create a Goal</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <input name="goal-title" type="text" class="form-control" placeholder="Title"/>
            </div>
            <div class="form-group">
                <select id="goal-category" class="form-control form-select" name="goal-category" aria-label="Default select example">
                    <option selected> Select Category</option>
                    {{#if categories.length}}
                        {{#each categories as |category|}}                        
                            <option value="{{this.id}}">{{this.category_name}}</option>
                        {{/each}}
                    {{/if}}
                </select>
            </div>
            <div class="form-group">
                <input id="goal-sub-category" name="goal-sub-category" type="text" class="form-control" placeholder="Sub Category"/>
            </div>
             
            <div class="form-group">
                <textarea id="goal-description" name="post-content" class="form-control" rows="3" placeholder="Description"></textarea>
            </div>
            <div class="form-group">
                <label for="goalDueDate">Due date</label>
                <input type="date" id="goalDueDate" class="form-control" name="goalDueDate"  />
            </div>
            <div class="form-group">
                <label for="file" style="cursor: pointer;">Upload Image</label>
                <input class="form-control" type="file" name="image" id="file" > 
            </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="submit">Create</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </form>
  </div>
</div>

{{!-- if post owner --}}
{{#if postOwner}} 
  <script src="/javascript/postownersfile.js"></script>
{{/if}}
{{!-- import dashboard.js to create goal --}}
<script src="/javascript/dashboard.js"></script>
<!-- Bootstrap core JavaScript -->
<script src="/vendor/FriendStatus/jquery/jquery.min.js"></script>
<script src="/vendor/FriendStatus/bootstrap/js/bootstrap.bundle.min.js"></script>


<!-- Additional Scripts -->
<script src="/assets/FriendStatus/js/custom.js"></script>
<script src="/assets/FriendStatus/js/owl.js"></script>
<script src="/assets/FriendStatus/js/slick.js"></script>
<script src="/assets/FriendStatus/js/isotope.js"></script>
<script src="/assets/FriendStatus/js/accordions.js"></script>

  